---
- name: reader
  type: FileSource
  args: logs
  children:
    - name: filter siva error
      type: RegexpFilter
      map:
        lvl: "^eror$"
        error: "index read failed"
      children:
        - name: print root
          type: PrintKeySink
          args: "root"
        - name: print msg
          type: PrintKeySink
          args: "msg"

